*
{
    font-family: 'Segoe UI', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
.navbar
{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 24, 24);
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}
.text
{
    font-size: 5vh;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    user-select: none;
}
.text:hover
{
    font-weight: 600;
    font-size: 6vh;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.main
{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}
.main .releases
{
    text-decoration: none;
    padding: 5vh;
    width: 90%;
    height: 90vh;
}
.main .releases .release
{
    font-size: 2vh;
    border-radius: 5vh;
    width: 100%;
    height: 35vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .releases .release .textcontainer
{
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main .releases .release img
{
    padding: 0.5vh;
    width: 30vh;
    height: 30vh;
}